html, body {
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}
header > h1 {
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 2em;
}
#container {
    width: 55%;
    margin: auto;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}
form {
    color: rgb(109, 107, 107);
}
form > p {
    text-align: center;
    font-size: 1.1em;
}
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0.2em 0;
}
.labels {
    flex: 1;
    text-align: right;
    margin-right: 1em;
    line-height: 1.5em;
}
.right-side {
    flex: 1;
}
.right-side > input {
    height: 25px;
    width: 70%;
    padding-left: 0.5em;
}
.right-side #currentRoleOptions {
    width: 45%;
    height: 35px;
}
.recommend-options {
    margin: 0.5em 0;
}
.column:nth-of-type(7) {
    align-items: flex-start;
    margin-top: 0.2em;
}
.improve-options {
    margin-bottom: 0.5em;
}
.column:nth-of-type(8) {
    align-items: flex-start;
}
textarea {
    width: 70%;
    height: 50px;
}
.submit-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit-button > button {
    border: none;
    border-radius: 5px;
    background-color: #59ace0;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 1em;
}

